/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vh;
    min-height: 100vh;
  }
  
  /* Add some content at the bottom of the video/page */
  .content-asd {
    position: fixed;
    top : 30vh;
    background: rgba(0, 0, 0, 0.281);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  .videoTag{
    min-height: 100vh;
    
  }

  @media (max-width: 600px) {
    .videoTag {
    display: none;
    }
  }