.imagen-detalle {
    width:  50vh;
    height:  50vh;
    object-fit: cover;
    transition: transform .7s ease-in-out;
    
}

.imagen-detalle:hover {
    transform: rotate(360deg);
  }

.detalles {
    justify-content: end;
}

@media (max-width: 600px) {
    .cardsind {
      display: flex;
      flex-direction: column;
      justify-content: center   ;
      margin-top: 30px;
    }
    .cardsind2{

      display: flex;
      flex-direction: column;
      justify-content: center   ;

    }}



