.imagen-detalle {
    width:  50vh;
    height:  50vh;
    object-fit: cover;
    transition: transform .7s ease-in-out;
    
}

.imagen-detalle:hover {
    transform: rotate(360deg);
  }

.detalles {
    justify-content: end;
}

.loader {
    
    height:  20vh;
    margin-left: 92vh;

}

